{% extends "base.html" %}
{% block title %}Heatmap - DayTone{% endblock %}
{% block content %}
<div class="page-head">
  <div>
    <span class="eyebrow">Mood calendar</span>
    <h1>Mood heatmap</h1>
    <p class="text-secondary">A year-long view of your daily mood scores.</p>
  </div>
</div>
<div class="panel elevated-panel heatmap-panel">
  <div id="heatmap"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js" integrity="sha384-CjloA8y00+1SDAUkjs099PVfnY2KmDC2BZnws9kh8D/lX1s46w6EPhpXdqMfjK6i" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
{% endblock %}
